//Importar fuentes
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

// Variables para los pesos de las fuentes
  $light  : 300;
  $normal : 400;
  $bold   : 700;

// Paleta de colores
  $bgBar         : hsl(231, 14%, 10%);
  $bgColor       : hsl(228, 13%, 7%);
  $bgInput       : hsl(225, 13%, 12%);
  $bgBtn         : hsl(198, 11%, 18%);
  $bgBtn-main    : hsl(200, 9%, 13%);
  $fontPrimary   : hsl(133, 74%, 60%);
  $fontSecondary : hsl(344, 99%, 62%);
  $fontBase      : hsl(100, 2%, 73%);
  $hover         : hsl(207, 51%, 50%);
// Estilos Base
  $body--bg    : $bgColor;
  $body--fz    : 16px;
  $body--ff    : 'Open Sans', sans-serif;
  $body--color : $fontBase;

// Estilos de los encabezados
  $h1 : 3.5em;
  $h2 : 3em;
  $h3 : 2.5em;
  $h4 : 2em;
  $h5 : 1.5em;
  $h6 : 1em;

  $h--lh  : 1.2em;

// Estilos imagenes
  $mx-width : 100%;

// Estilos de enlaces
  $link--color : initial;

// Estilos parrafos
  $p--fz  : 1em;
  $p--lh  : 1.5em;

// Estilos animacion
  $transition : all 250ms ease;
// Imporar Base
  @import "base/_reset";
  @import "base/_base";

// Importar Layout
  @import "layout/_home";
  @import "layout/_topBar";
  @import "layout/_create";
  @import "layout/_data";

// Importar Module
  @import "module/_module";

// Importar State
  @import "state/_state";
