<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  title Receptium
  each css in files.CSS
    link(rel="stylesheet", href=`${css}`)

body
  //- TopBar
  section.m-section.topBar
    .m-center
      .topBar-cont
        span.mx-cont__user Usuario
        a(href="#").topBar-cont__logout Salir

  //- Create Event
  section.m-section
    .m-center
      .createEvent
        h1.createEvent__title Administra Todos tus Eventos
        .createEvent-cont
          .createEvent-cont-btn
            a(href="#popup").mx__createBtn Crear Evento
          .createEvent-cont-wrapper
            .createEvent-cont-wrapper-btns
              a(href="#").mx-createEvente__event.createEvent-cont-btns__btn Boda Liz y Juan / 12 de Febrero 2017
              a(href="#").mx-createEvente__event.createEvent-cont-btns__btn Lista de Invitados
              .m-crud
                a.m-crud__edit.icon-pencil
                button.m-crud__delete.icon-x
            .createEvent-cont-wrapper-btns
              a(href="#").mx-createEvente__event.createEvent-cont-btns__btn Boda Liz y Juan / 12 de Febrero 2017
              a(href="#").mx-createEvente__event.createEvent-cont-btns__btn Lista de Invitados
              .m-crud
                a.m-crud__edit.icon-pencil
                button.m-crud__delete.icon-x

  section#popup.m-modal
    .m-modal-popup
      h2 Crear Evento
      a(href="#").m-modal-popup__close &times;
      .m-modal-popup-content
        .m-modal-popup-content__label Nombre:
        input(type="text" name="name" placeholder="Escribe el nombre").mx-modal-popup-content__input
        .m-modal-popup-content__label Fecha:
        input(type="date" name="date").mx-modal-popup-content__input
        button.mx__createEvent Crear
  each js in files.JS
    script(src=`${js}`)
