// ::::::::::: create.scss :::::::::::: //
.createEvent{
  display : flex;
  flex-direction: column;

  &__title{
    margin: 4rem 0;
    font-size: 2rem;
    color : $fontPrimary;
    text-align: center;
  }

  &-cont{
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    height          : 200px;
    position        : relative;

    &::before{
      content  : "";
      width    : 100%;
      border   : 2px dashed lighten($bgBar, 5);
      position : absolute;
      top      : 50%;
    }

    &-btns{
      display : flex;
      align-items: center;

      &__btn{
        margin-right: 1rem;
      }
    }
  }
}
